body {
    margin: 0px;
    padding: 0px;
}

a {color:#212529;text-decoration: none;}  /* Unvisited link  */
a:visited {color:#212529;} /* Visited link    */
a:hover {color:#212529;}   /* Mouse over link */
a:active {color:#212529;}  /* Selected link   */


p{
    font-family: 'EB Garamond', serif;
    color: #212121DE;
} 


/* Navbar */

#navbar {
    padding: 2% 7%;
}

.navlogo{
    object-fit: contain !important;
    width: 160px !important;
}

/* @media (max-width: 1450px){
    .navlogo{
        width: 160px !important;
    }
} */


.dropdown-item{
    padding: 8px !important;
}

.dropdown-toggle::after { 
    content: none; 
} 

.dropdown-menu a:hover {
    background-color:#B7CC31 !important;
    color: white !important;
    border-radius: 7px !important;
   }

   ul li a:hover, ul li a:focus {
    color:#B7CC31 !important;
   }


/* .dropdown:hover .dropdown-menu{
    display: block;
} */

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    margin-top: 0;
}

.active a{
    color:#B7CC31 !important;
}

.boldfont{
    font-weight: bold;
    color: #666666 !important;
    font-family: 'Poppins', sans-serif;
}

#talkfont{
    color:  #B7CC31;
}
 
#talkfont:hover {
    background-color: #fff;
}

.borderless {
    border: 0 none;
  }

  .talkbutton{
    /* margin-right: 3rem; */
    color: #B7CC31;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 20px;
    font-weight: bold;
    border:  1px solid #764ABC;
    background-color: white;
}


.talkbutton:focus,
.talkbutton:active,.talkbutton:hover{
    box-shadow:none !important;
    outline:0px !important;
    border:  1px solid #764ABC;
}

.dropdown-menu .dropdown {
    position: relative;
}

.dropdown-menu li{
    position: relative !important;
}

.nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.nav-item .submenu-left {
    right: 100%;
    left: auto;
}


.dropdown-menu > li:hover > .submenu{
    display: block;
}


/* Navbar */

.case-strip{
    padding: 0% 13%;
    text-align: center;
    background-color: #B7CC31;
    color: white;
}

h1{
    padding: 60px 0px;
    font-family: 'Poppins', sans-serif;
    /* font-size: 2rem; */
}

#case-studies{
    padding: 0% 8%;
    margin: 3rem 0rem;
}


.case_description{
    box-shadow: 0 8px 6px -2px 	#C8C8C8, 0 8px 6px -2px #C8C8C8, 0 8px 6px -2px #C8C8C8;
    padding: 2px 40px 40px 40px;
}

.about-easy{
    margin-top: 2rem;
}

.case_heading{
    text-align: center;
}

.case-heading{
    margin-top: 5rem;
}

.case-heading h2{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.onorder-points li{
    font-family: 'EB Garamond', serif;
    color: #212121DE;
}