body {
    margin: 0px;
    padding: 0px;
}


/* Navbar */

#navbar {
    padding: 2% 7%;
}

.navlogo{
    object-fit: contain !important;
    width: 160px !important;
}

.dropdown-item{
    padding: 8px !important;
}

.dropdown-toggle::after { 
    content: none; 
} 

.dropdown-menu a:hover {
    background-color:#B7CC31 !important;
    color: white !important;
    border-radius: 7px !important;
   }

   ul li a:hover, ul li a:focus {
    color:#B7CC31 !important;
   }


.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    margin-top: 0;
}

.active a{
    color:#B7CC31 !important;
}

.boldfont{
    font-weight: bold;
    color: #666666 !important;
    font-family: 'Poppins', sans-serif;
}

#talkfont{
    color:  #B7CC31;
}
 
#talkfont:hover {
    background-color: #fff;
}

.borderless {
    border: 0 none;
  }

.talkbutton{
    /* margin-right: 3rem; */
    color: #B7CC31;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 15px;
    font-weight: bold;
}


.talkbutton:focus,
.talkbutton:active{
    box-shadow:none !important;
    outline:0px !important;
}

/* Navbar */


.contact-container{
  border-radius: 15px;
}

.address{
  display: flex;
  /* align-items: center; */
}

.contact2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
	padding: 60px 0;
  margin-bottom: 170px;
  background-position: center top;
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #3e4555;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.contact2 .bg-image {
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact2 .card.card-shadow {
    -webkit-box-shadow: 8px 16px 32px #0000001A;
    box-shadow: 8px 16px 32px #0000001A;
}

.contact2 .detail-box .round-social {
  margin-top: 100px;
}

.contact2 .round-social a {
  background: transparent;
  margin: 0 7px;
  padding: 11px 12px;
}

.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  position: relative;
  top: 200px;
}

.contact2 .btn-danger-gradiant {
  background: #B7CC31;
  background: -webkit-linear-gradient(legacy-direction(to right), #B7CC31 0%, #B7CC31 100%);
  background: -webkit-gradient(linear, left top, right top, from(#B7CC31), to(#B7CC31));
  background: -webkit-linear-gradient(left, #B7CC31 0%, #B7CC31 100%);
  background: -o-linear-gradient(left, #B7CC31 0%, #B7CC31 100%);
  background: linear-gradient(to right, #B7CC31 0%, #B7CC31 100%);
}

 .contact2 .btn-danger-gradiant:hover {
  background: #B7CC31;
  background: -webkit-linear-gradient(legacy-direction(to right), #B7CC31 0%, #B7CC31 100%);
  background: -webkit-gradient(linear, left top, right top, from(#B7CC31), to(#B7CC31));
  background: -webkit-linear-gradient(left, #B7CC31 0%, #B7CC31 100%);
  background: -o-linear-gradient(left, #B7CC31 0%, #B7CC31 100%);
  background: linear-gradient(to right, #B7CC31 0%, #B7CC31 100%);
}