body {
    margin: 0px;
    padding: 0px;
}

p{
    font-family: 'EB Garamond', serif;
    color: #212121DE;
} 

.tech__stack{
    font-family: 'Poppins', sans-serif !important;
    color: #000000DE;
    font-size: 20px;
    /* font-size: 28px; */
}

a {color:#212529;text-decoration: none;}  /* Unvisited link  */
a:visited {color:#212529;} /* Visited link    */
a:hover {color:#212529;}   /* Mouse over link */
a:active {color:#212529;}  /* Selected link   */




/* Navbar */

#navbar {
    padding: 2% 7%;
}

.navlogo{
    object-fit: contain !important;
    width: 160px !important;
}

.dropdown-item{
    padding: 8px !important;
}

.dropdown-toggle::after { 
    content: none; 
} 

.dropdown-menu a:hover {
    background-color:#B7CC31 !important;
    color: white !important;
    border-radius: 7px !important;
   }

   ul li a:hover, ul li a:focus {
    color:#B7CC31 !important;
   }


/* .dropdown:hover .dropdown-menu{
    display: block;
} */

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    margin-top: 0;
}

.active a{
    color:#B7CC31 !important;
    border-bottom: 1px solid #B7CC31;
}

.boldfont{
    font-weight: bold;
    color: #666666 !important;
    font-family: 'Poppins', sans-serif;
}

#talkfont{
    color:  #B7CC31;
}
 
#talkfont:hover {
    background-color: #fff;
}

.borderless {
    border: 0 none;
  }

.talkbutton{
    /* margin-right: 3rem; */
    color: #B7CC31;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 15px;
    font-weight: bold;
}


.talkbutton:focus,
.talkbutton:active{
    box-shadow:none !important;
    outline:0px !important;
}

.dropdown-menu .dropdown {
    position: relative;
}

.dropdown-menu li{
    position: relative !important;
}

.nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.nav-item .submenu-left {
    right: 100%;
    left: auto;
}


.dropdown-menu > li:hover > .submenu{
    display: block;
}


/* Navbar */


/* Title */

#head{
    padding: 0 8%;
}

@media all and (max-width:480px) {
    .title h1{font-size: 2.5rem;}
 }

h1{
    font-family: 'Overpass', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.title{
    margin-top: 8rem;
}

.head__image{
    display: block;
    max-width: 100%;
    height: auto;
}

.head__learn{
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
    font-size: 18px;
    border-color: #B7CC31;
}

.head__learn:hover{
    background-color: #fff;
    color: black;
}

.head__learn:focus {
    outline: none !important;
  }

.head__learn:focus,
.head__learn:active{
    box-shadow:none !important;
    outline:0px !important;
}

.enterprise__description{
    padding: 2rem 3rem 2rem 0rem;
}

#codemischief{
    text-align: center;
}

.codemischief_head{
    padding: 5% 20% 2% 20%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.codemischief_desc{
 padding: 0% 8%;
 text-align: center;
}
/* Title */



/* Title 2 */

#headtwo{
padding: 10% 8%;
}

.top__boxtwo{
max-width: 100%;
width: 500px;
padding-right: 3rem; 

}

.titletwo{
    margin-top: 3rem;
    /* padding-left: 2rem; */
}

#enterprise__desc{
    padding: 5% 8%;
    text-align: center;
}



 /* .enterprise__descriptiontwo{
    margin-top: 3rem; 
     padding-left: 2rem; 
     margin-left: 2rem;
}  */
/* Title 2 */


/* Title 3 */

#headthree{
    padding: 0% 8%;
}

.titlethree{
    margin-bottom: 3rem;
    padding-right: 2rem;
}

.top__boxthree
{
    max-width: 100%;
    width: 500px
}

.enterprise__descriptionthree{
    margin-top: 3rem;
}


/* Title 3 */

/* User Experience */

#experience{
    padding: 0% 8%;
    margin: 5rem 0rem;
}

.experience__title{
    padding: 0rem 10rem 3rem 0rem;
    font-family: 'Poppins', sans-serif !important;
    /* margin-bottom: 2rem; */
}


/* User Experience */

/* Think Cycle */

#think{
    padding: 3% 15%;
}

#think__desc{
    text-align: center;
    padding: 3% 15%;
}




/* Think Cycle */




/* Development Methodology  */




/* Development Methodology  */



#headfour{
    padding: 3% 8%;
    
}

.titlefour{
    margin-bottom: 2rem;
}

#headfourdesc{
    padding: 6% 20%;
    text-align: center;
    /* text-align: justify; */
}



#development{
    padding: 0% 8%;
    margin-top: 5rem;
    /* text-align: center; */
}

.development__desc{
    text-align: left;
    padding-left: .7rem;
}


.development-container{
    padding-right: 2rem;
    margin-bottom: 4rem;
}


.development__images{
    height: 120px;
    width: 149px;
    object-fit: contain;
    margin-bottom: 2rem;
    /* padding-bottom: 3rem; */
}

/* #developmenttwo{
    padding: 0% 18%;
    margin-top: 5rem;
    text-align: center;
} */

/* Hosting */


#hosting{
    padding: 0% 8%;
    margin-top: 10rem;
}

#host{
    padding-right: 3rem;
}
/* Hosting */



#values{
    padding: 0% 8%;
    margin-top: 5rem;
}

/* Footer */


#footer{
    position: relative;
    height: 90vh;
    margin-top: 80px;
}
.footer-back-bg{
    background-image: url('https://storage.googleapis.com/cm-website-assets/footerlight.svg');
    height:60vh;
    width: 100%;
    background-size: cover;
    bottom: 0px;
    position: absolute;
}
.footer-front-bg{
    background-image: url('https://storage.googleapis.com/cm-website-assets/footerdark.svg');
    height:90vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: -150px;
    z-index: 111;
}
.footer-content{
    position: absolute;
    z-index: 1111;  
    height: 60vh;
    width: 100%;
    color: white;
    bottom: 0;  
}
.main-footer-content{ 
    position: relative; 
    top: 00px;
    align-items: flex-end;
}
.main-footer-content p{
    margin-top: 25px;
    font-size: 1.1rem;
    font-size: smaller;
}
.footer-content p{
    color: white !important;
    font-family: var(--bs-font-sans-serif)

}
.footer-content .row{
    width: 80%;
    margin: auto;
}
@media (max-width: 1280px){
     #footer{
         height: fit-content;
     }
    .footer-back-bg{ 
        display: none;
    }
    .footer-front-bg{ 
        display: none;
    }
    .footer-content{ 
        height: fit-content; 
        position: relative;
        padding: 40px 0;
        background-color: #191930        ;
    }
    .main-footer-content{
        width: 100%;
    }
    .social-holder{ 
        display: flex !important;
        flex-direction: row;
    }
    .social-holder .col-sm-4, .m-col{
        width: 25% !important;
    }
}
.footer-content .row{
    width: 80%;
    margin: auto;
} 
.form-input{
    background-color: #fff;    
    margin: 40px 0 20px 0;
    color:black;
    padding: 10px 15px; 
    width: 124%;
    border-radius: 50px;
    display: flex;
    align-items:center;
}
.form-input input{
    border:none !important;
    background:none;
    width: 90%;
    font-size:20px;

}
.form-input input:focus,.form-input input:active,.form-input input:visited{
    border: none !important;
}

.read{
    color: #B7CC31;
}

.social-style{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    color: #191930;
  }
  