body {
    margin: 0px;
    padding: 0px;
}


/* Navbar */

#navbar {
    padding: 2% 7%;
}

.navlogo{
    object-fit: contain !important;
    width: 160px !important;
}

.dropdown-item{
    padding: 8px !important;
}

.dropdown-toggle::after { 
    content: none; 
} 

.dropdown-menu a:hover {
    background-color:#B7CC31 !important;
    color: white !important;
    border-radius: 7px !important;
   }

   ul li a:hover, ul li a:focus {
    color:#B7CC31 !important;
   }


.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    margin-top: 0;
}

.active a{
    color:#B7CC31 !important;
}

.boldfont{
    font-weight: bold;
    color: #666666 !important;
    font-family: 'Poppins', sans-serif;
}

#talkfont{
    color:  #B7CC31;
}
 
#talkfont:hover {
    background-color: #fff;
}

.borderless {
    border: 0 none;
  }

.talkbutton{
    /* margin-right: 3rem; */
    color: #B7CC31;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 15px;
    font-weight: bold;
}


.talkbutton:focus,
.talkbutton:active{
    box-shadow:none !important;
    outline:0px !important;
}

/* Navbar */


/* Title */

#head{
    padding: 0 8%;
}

h1{
    font-family: 'Overpass', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.title{
    margin-top: 15rem;
}

.head__image{
    display: block;
    max-width: 100%;
    height: auto;
}

.head__learn{
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
    font-size: 18px;
}

.head__learn:hover{
    background-color: #fff;
    color: black;
}

.head__learn:focus {
    outline: none !important;
  }

.head__learn:focus,
.head__learn:active{
    box-shadow:none !important;
    outline:0px !important;
}
/* Title */

/* What we do */

#ourrole{
    padding: 5% 8%;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #000000DE;
}

.parent{
display: -webkit-box;   
display: -moz-box; 
display: -ms-flexbox;  
display: -webkit-flex;
display: flex;  

-webkit-justify-content: center;
-moz-justify-content: center;
justify-content: center;
-webkit-align-items: center;
-moz-align-items: center;
align-items: center;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
flex-wrap: wrap;

}

.work-card{
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 2px solid  #B7CC31;;
    background-color: white;
    /* border-image: linear-gradient(0deg,#18C5BF,#B7CC31);
    border-image-slice:1; */
    /* background-image: linear-gradient(0deg,#18C5BF,#B7CC31);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    transition: all 0.3s ease-in;
    box-shadow: 0px 7px 30px #AAAAAA29;
    border-radius: 15px !important;
}

/* .work-card::before{
    content: '';
    border-radius: 15px !important;
    height: 120%;
    width: 120%;
    background-image: -webkit-linear-gradient(
        to bottom right,
        #ff4b2b,
        #ff416c
    );

    background-image: linear-gradient(
        to bottom right,
        #ff4b2b,
        #ff416c
    );
    left: -10%;
    top: -10%;
    z-index: -1;

} */

.parent:hover .work-card {
    transform: scale(0.9);
    transition-timing-function: ease-in;
    transition: 0.2s;
}
.parent .work-card:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.role__business{
    padding: 42px 5px;
}

.role__description{
    padding: 0px 20px;
}

.someicon{
    position:absolute;
    top: 45px;
}


/* What we do */


/* Across Globe  */

#Globe__Section{
    padding: 3% 8%;
}

.globe__heading{
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.globe__description{
    margin-top: 3rem;
}

h2{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.globemap{
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 6rem;
}
 /* Across Globe  */



 /* What our Customers Say */

 #testimonial{
    padding: 3% 8%;
    text-align: center;
 }

 .test__one{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    padding: 2rem 0;
    border-radius: 15px;
    margin-right: 5rem !important;
}

.test__roundedimage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}

.test__detail{
    padding: 0 2rem;
    text-align: left;
}

.test__name{
    padding-top: 2rem;
}

.customer{
    text-align: left;
}

.your__roundedimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;  
}

.happy__customer{
    text-align: left;
    margin: 5rem 0 2rem 3rem;
}

.image__you{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

h3{
    line-height: 1.5;
}

h4{
    font-family: 'Poppins', sans-serif;
    color: #000000DE;
}

.designation{
    font-family: 'Poppins', sans-serif;
}
 

 /* What our Customers Say */



 /* Why codeMischief */

 .tech__head h3{
     text-align: center;
     margin: 3rem 0;
     font-family: 'Overpass', sans-serif;
     font-size: 42px !important;
 }

 #codemischief{
     padding: 3% 8%;
 }

 .code__image{
     width: 100px;
     height: 100px;
     /* border-radius: 50%; */
     object-fit: contain;
 }

 .whyusalign{
     text-align: center;
     margin-bottom: 3rem;
 }

 .speciality{
     padding: 1rem 0 1rem 0;
     font-family: 'Poppins', sans-serif;
 }

 .speciality__description{

 }


 /* Why codeMischief */



 /* Accomplishment */


 


/* Accomplishment */


/* Nithya Product Intro */




/* Nithya Product Intro */


/* Our Technologies */

#techstack{
    padding: 3% 8%;
}


.box {
    box-shadow: 0px 7px 30px #AAAAAA29;
    /* padding: 50px 25px; */
    /* text-align: center; */
  }
  
  .react{
    display : flex;
    align-items : center;
    padding: 20px;
  }
  
  .reactimg{
      border-radius: 50%;
      height: 54px;
      width: 56px;
      object-fit : contain;
  }

/* Our Technologies */