body {
    margin: 0px;
    padding: 0px;
}

p{
    font-family: 'EB Garamond', serif;
    color: #212121DE;
} 

h2{
    font-family: 'Overpass', sans-serif;
}

a {color:#212529;text-decoration: none;}  /* Unvisited link  */
a:visited {color:#212529;} /* Visited link    */
a:hover {color:#212529;}   /* Mouse over link */
a:active {color:#212529;}  /* Selected link   */

/* Navbar */

#navbar {
    padding: 2% 7%;
}

.navlogo{
    object-fit: contain !important;
    width: 160px !important;
}

.dropdown-item{
    padding: 8px !important;
}

.dropdown-toggle::after { 
    content: none; 
} 

.dropdown-menu a:hover {
    background-color:#B7CC31 !important;
    color: white !important;
    border-radius: 7px !important;
   }

   ul li a:hover, ul li a:focus {
    color:#B7CC31 !important;
   }


/* .dropdown:hover .dropdown-menu{
    display: block;
} */

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

.active a{
    color:#B7CC31 !important;
}

.boldfont{
    font-weight: bold;
    color: #666666 !important;
    font-family: 'Poppins', sans-serif;
}

#talkfont{
    color:  #B7CC31;
}
 
#talkfont:hover {
    background-color: #fff;
}

.borderless {
    border: 0 none;
  }

.talkbutton{
    /* margin-right: 3rem; */
    color: #B7CC31;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 15px;
    font-weight: bold;
}


.talkbutton:focus,
.talkbutton:active{
    box-shadow:none !important;
    outline:0px !important;
}

.dropdown-menu .dropdown {
    position: relative;
}

.dropdown-menu li{
    position: relative !important;
}

.nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.nav-item .submenu-left {
    right: 100%;
    left: auto;
}


.dropdown-menu > li:hover > .submenu{
    display: block;
}


/* Navbar */


/* Title */

#head{
    padding: 0 8%;
}

@media all and (max-width:480px) {
    .title h1{font-size: 2.5rem;}
 }

h1{
    font-family: 'Overpass', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.title{
    margin-top: 15rem;
}

.top__box{
    margin-top: 9rem;
}

.head__image{
    display: block;
    max-width: 100%;
    /* max-height: 300px; */
    height: auto;
}

.head__learn{
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
    font-size: 18px;
    border-color: #B7CC31;
}

.head__learn:hover{
    background-color: #fff;
    color: black;
}


.head__learn:focus,
.head__learn:active{
    box-shadow:none !important;
    outline:0px !important;
}
/* Title */

/* Our Products */

#nityaauth{
    padding: 3% 8%;
}


.nitya__head{
    padding-bottom: 2rem;
}

.nityaauth_head{
    margin-bottom: 5rem;
}

/* .nitya__image{
    padding-top: 10rem;
} */

.nityaproduct{
    width: 100%; 
    max-width: 400px;
    display:block; 
    height: auto;
    object-fit: contain;
}

/* .nitya__description{
    width: 430px;
    word-wrap: break-word;
    color: #707070;
}   */

 .knowMore{
    background-color: #B7CC31;; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 24px;
}

.know__button{
    padding-top: 4rem;
    margin-bottom: 3rem;
} 

.knowMore:focus,
.knowMore:active{
    box-shadow:none !important;
    outline:0px !important;
}

/* Our Products */


/* Nithya Authorization Description */

#nithyaAuthDescription{
    padding: 0% 8%;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #000000DE;
}

.Authorization{
    margin-top: 5rem;
}

@media (max-width: 1000px){
    
    .Authorization img{
        display: none;
        /* width: 0; */
    }

    .Authorization{
        margin-top: 0rem;
    }

    .Authorization__description{
        padding: 0;
    }

    .Authorization__description h5:before{ 
        content: '⚪';
        position: relative;
        bottom: .1em;
        color: #B7CC31 !important;
        margin-right: .5rem;
        /* font-size:10pt; */
     }
}


.Authorization__description{
    padding: 3rem 0rem;
    text-align: left;
}

/* Nithya Authorization Description */



#nitya__featues{
padding: 0% 8%;
/* text-align: center; */
}

.icon__image{
width: 40px;
height: 40px;
object-fit: contain;
margin-right: 5rem;
}

.features__images{
    display: flex; /* Magic begins */
  flex-direction: row;
  flex-wrap: wrap;
 /* justify-content: center;  Center in main axis */
  /* justify-content: space-between; */
  align-items: center; /* Center in cross axis */
 
}

@media screen and (max-width: 768px){
    .features__images{
        flex-direction: column;
        padding-bottom: 3rem;
    }

}

.nitya__subhead{
    padding: 1rem 0;
}

.nitya__subheadingdescription {
padding-bottom: 3rem;

}

.nitya__subheadingdescription p{
    padding: 0;
    margin: 0;
}

/* Nithya Authorization Description */


/* Our Products */

#nityaauth{
    padding: 5% 8%;
    margin-top: 5rem;
}


.nitya__head{
    padding-bottom: 2rem;
}

.nityaauth_head{
    margin-bottom: 5rem;
}

/* .nitya__image{
    padding-top: 10rem;
} */

.features-head{
    padding-right: 20%;
}

.nityaproduct{
    width: 100%; 
    max-width: 400px;
    display:block; 
    height: auto;
    object-fit: contain;
}

/* .nitya__description{
    width: 430px;
    word-wrap: break-word;
    color: #707070;
}   */


/* Our Products */

/* Background */

.back_nav{
    background-image: url('https://storage.googleapis.com/cm-website-assets/backgroundall.png');
    width: 120%;
    background-size: 60% ;
    background-repeat: no-repeat;
    background-position:top right;
    height: 140vh;
    position: absolute;
    top: -150px;
    right: 0;
    z-index: -1;
}

/* Footer */


#footer{
    position: relative;
    height: 90vh;
    margin-top: 80px;
}
.footer-back-bg{
    background-image: url('https://storage.googleapis.com/cm-website-assets/footerlight.svg');
    height:60vh;
    width: 100%;
    background-size: cover;
    bottom: 0px;
    position: absolute;
}
.footer-front-bg{
    background-image: url('https://storage.googleapis.com/cm-website-assets/footerdark.svg');
    height:90vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: -150px;
    z-index: 111;
}
.footer-content{
    position: absolute;
    z-index: 1111;  
    height: 60vh;
    width: 100%;
    color: white;
    bottom: 0;  
}
.main-footer-content{ 
    position: relative; 
    top: 00px;
    align-items: flex-end;
}
.main-footer-content p{
    margin-top: 25px;
    font-size: 1.1rem;
    font-size: smaller;
}
.footer-content p{
    color: white !important;
    font-family: var(--bs-font-sans-serif)

}
.footer-content .row{
    width: 80%;
    margin: auto;
}
@media (max-width: 1280px){
     #footer{
         height: fit-content;
     }
    .footer-back-bg{ 
        display: none;
    }
    .footer-front-bg{ 
        display: none;
    }
    .footer-content{ 
        height: fit-content; 
        position: relative;
        padding: 40px 0;
        background-color: #191930        ;
    }
    .main-footer-content{
        width: 100%;
    }
    .social-holder{ 
        display: flex !important;
        flex-direction: row;
    }
    .social-holder .col-sm-4, .m-col{
        width: 25% !important;
    }
}
.footer-content .row{
    width: 80%;
    margin: auto;
} 
.form-input{
    background-color: #fff;    
    margin: 40px 0 20px 0;
    color:black;
    padding: 10px 15px; 
    width: 124%;
    border-radius: 50px;
    display: flex;
    align-items:center;
}
.form-input input{
    border:none !important;
    background:none;
    width: 90%;
    font-size:20px;

}
.form-input input:focus,.form-input input:active,.form-input input:visited{
    border: none !important;
}

.read{
    color: #B7CC31;
}

.social-style{
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  color: #191930;
}
