/* Navbar */

.codemischief__logo{
    width: 100px;
    height: 40px;
    object-fit: contain;
}

/* Title */


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.code__title{
    padding: 3% 10%;
}

.title{
    margin-top: 4rem;
}

.code__para{
    margin: 5% 3% 5% 0;
    width: 300px;
    word-wrap: break-word;
    color: #707070;
}

.btn {
    border: 1px solid #18C5BF !important;
    border-radius: 15px;
    background-color: white;
    /* color: black; */
    /* padding: 14px 28px; */
    font-size: 16px;
    cursor: pointer;
  }

.default {
    border-color: #e7e7e7;
    color: black;
  }


.we__color{
    color: #5200C6;
}

.buss__color{
    color: #18C5BF;
}

/* Navbar */
.navbar{
    padding: 0 0 2rem;
}

.navigationbar-brand{
    display: flex;
    align-items: center;
}

.dropdown-toggle::after { 
    content: none; 
} 

.navigationbar{
    margin: 3% 8% 0%;
}

.feature__title{
    padding: 3% 10%;
}

.icon{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.icon__back{
    font-size:20px !important;
    color:#1CE3DC !important;
    background-color: #F2F7FB !important; 
    padding: 1rem !important; 
    border-radius:50% !important;
}

.icon__title{
    margin-left: 2rem;
}

.mid__img{
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.team{
    padding: 3% 10%;
}

.join{
    padding: 10px 25px;
    background-color: #18C5BF;
    border-radius: 25px;
    color: white;
    border: none;
}

.join:focus{
    outline: none;
    box-shadow: none;
}

.team_description{
margin-bottom: 3rem;
}

.team__roundedimage{
    width: 100px;
    height: 100px;
    border-radius: 35%;
    object-fit: contain;
    /* margin-right: 3rem; */
}

.team__rowone{

    /* padding: 16px; */
    margin-left: 1rem;
    
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .team__rowone::after {
    content: "";
    clear: both;
    display: table;
  }

  .product__title{
      text-align: center;
  }

  .product__description{
      width: 550px;
      margin: 0 auto;
  }

  

  .parent {
    display: flex; /* displays flex-items (children) inline */
    padding: 3% 10%;
  }
  
  .child {
    flex-grow: 1; /* each flex-item grows and takes 1/3 of the parent's width */
    /* text-align: center; */
    /* border: 1px solid; */
    /* margin-right: 4%; */
    
  }

  .child__desc{
    margin-right: 4%;
    margin-top: 5rem;
  }
  
  /* @media (max-width: 568px) { 
    .parent {flex-direction: column} 
    .child:first-child {order: 1} 
    .child:last-child {order: -1} 
    
  } */


  #testimonial{
    text-align: center;
    padding: 100px;
}

.testimonial__heading{
    padding-bottom: 5rem;
}


.test__one{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 3rem 0;
}

.test__roundedimage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}

.test__detail{
    padding: 3rem;
}

.test__name{
    padding-top: 2rem;
}

.tech{
    text-align: center;
}

.child_box{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    text-align: center;
}



#letstart{
    text-align: center;
    background-color: #18C5BF;
    color: white;
    
  }

  .letstart__heading{
      padding-top: 5rem;
  }

  /* Footer */

  #footer{
      background-color: #E5EFFD;
      padding: 100px 0 50px 100px;
  }

  .footer__logo{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .codemischief__logofooter{
      width: 100px;
      height: auto;
      object-fit: contain;
  }

  .strip{
      background-color:#18C5BF ;
      flex: 1;
      padding:30px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      margin-left: 1rem;
  }

  .striptwo{
    margin-top: 3rem;
    padding:60px;
    border-top-left-radius: 25px;
    margin-left: 7rem;
    background-color: #2C01D6;
    display: flex;
    /* align-items: center; */
    /* flex: 1; */
  }

  .subscribe{
      color: white;
      /* display: flex;
      align-items: center; */
  }


  .subscribe_button{
    background-color: #18C5BF;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }  

  input[type=email] {
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input:focus{
    outline: none;
}

.subscribe_button:focus{
    outline: none;
}

#footer__information{
    background-color: #E5EFFD;
}

.information{
    padding: 3% 10% 3% 20%;
}

.footer__address{
display: flex;
}

.addy{
    margin-left: 2rem;
}

.tele{
    margin-left: 1rem;
}

.copyright{
    text-align: center;
}

.clickButton{
    background-color: #5200C6;
    border-radius: 16px;
    color: white;
    border: none;
    padding: 8px 25px;
    margin: 3rem 0;
}

.clickButton:focus {
    outline: none;
    box-shadow: none;
  }
