/* Navbar */

.codemischief__logo{
    width: 100px;
    height: 40px;
    object-fit: contain;
}

/* Title */


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.code__title{
    padding: 3% 10%;
    background-color: #E5EFFD;
}

.title{
    margin-top: 4rem;
}

.code__para{
    margin: 5% 3% 5% 0;
    width: 300px;
    word-wrap: break-word;
    color: #707070;
}

.btn {
    border: 1px solid #18C5BF !important;
    border-radius: 15px;
    background-color: white;
    /* color: black; */
    /* padding: 14px 28px; */
    font-size: 16px;
    cursor: pointer;
  }

.default {
    border-color: #e7e7e7;
    color: black;
  }


.we__color{
    color: #5200C6;
}


/* Navbar */
.navbar{
    padding: 0 0 2rem;
}

.navigationbar-brand{
    display: flex;
    align-items: center;
}

.dropdown-toggle::after { 
    content: none; 
} 

.navigationbar{
    margin: 3% 8% 0%;
}

.dropdown-menu a:hover {
    background-color:#18C5BF !important;
    color: white !important;
   }

#youmayask{
    margin-top: 6rem;
}

.title__ask{
    text-align: center;
}

.branding{
    padding: 3% 10%;
}

.brand{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: contain;
    
}


#letstalk{
    /* margin : 3% 15%; */
    text-align: center;
    background-color: #5200C6;
    color: white;
    opacity: 1;
    /* margin-bottom: 5rem; */
}

.talkButton{
    background-color: #1CE3DC;
    border-radius: 16px;
    color: white;
    border: none;
    padding: 8px 25px;
}

.talkButton:focus {
    outline: none;
    box-shadow: none;
  }


.talk__box{
    padding-top: 4rem;
}

.talk{
    padding: 5rem 0 3rem ;
}

#keywordorfeature{
    background-color: #18C5BF;
    padding-top: 5%;
}

.feature{
    padding: 3% 10%;
}

.accordion-image{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.accordion-button{
    border: none;
}

.accordion-button:focus{
    outline: none;
    box-shadow: none;
      
}

.usericon{
    margin-right: 15px;
    font-size:15px;
    object-fit : contain;

}



#clickhere{
    text-align: center;
    background-color: #18C5BF;
    color: white;
    opacity: 1;
}

.clickButton{
    background-color: #5200C6;
    border-radius: 16px;
    color: white;
    border: none;
    padding: 8px 25px;
}

.clickButton:focus {
    outline: none;
    box-shadow: none;
  }

   /* Process */

   #process{
    text-align: center;
    background-color: #E5EFFD;
    opacity: 1;
  }

  .process__text{
      padding: 17rem 0;
      opacity: 1;
  }

  /* Testimonials */

  #testimonial{
      text-align: center;
      padding: 100px;
  }

  .testimonial__heading{
      padding-bottom: 5rem;
  }


  .test__one{
      width: 100%;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      padding: 3rem 0;
  }

  .test__roundedimage{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: contain;
  }

  .test__detail{
      padding: 3rem;
  }

  .test__name{
      padding-top: 2rem;
  }

  #piechart{
      background-color: #E5EFFD;
  }

  .pointsandpara{
      margin-bottom:3rem ;
  }

  .list__cicle {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
 .list__cicle>li {
    padding-left: 1em; 
    text-indent: -.7em;
  }
  
  .list__cicle>li::before {
    content: "○ ";
    color: #5200C6; /* or whatever color you prefer */
  }

  /* Let's Start */

  #letstart{
    text-align: center;
    background-color: #18C5BF;
    color: white;
    
  }

  .letstart__heading{
      padding-top: 5rem;
  }

  /* Footer */

  #footer{
      background-color: #E5EFFD;
      padding: 100px 0 50px 100px;
  }

  .footer__logo{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .codemischief__logofooter{
      width: 100px;
      height: auto;
      object-fit: contain;
  }

  .strip{
      background-color:#18C5BF ;
      flex: 1;
      padding:30px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      margin-left: 1rem;
  }

  .striptwo{
    margin-top: 3rem;
    padding:60px;
    border-top-left-radius: 25px;
    margin-left: 7rem;
    background-color: #2C01D6;
    display: flex;
    /* align-items: center; */
    /* flex: 1; */
  }

  .subscribe{
      color: white;
      /* display: flex;
      align-items: center; */
  }


  .subscribe_button{
    background-color: #18C5BF;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }  

  input[type=email] {
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input:focus{
    outline: none;
}

.subscribe_button:focus{
    outline: none;
}

#footer__information{
    background-color: #E5EFFD;
}

.information{
    padding: 3% 10% 3% 20%;
}

.footer__address{
display: flex;
}

.addy{
    margin-left: 2rem;
}

.tele{
    margin-left: 1rem;
}

.copyright{
    text-align: center;
}
